.account-page
  .account-page__login.clearfix
    .account-page__header
      %h2 ログイン
      = form_for(:user, url: user_session_path) do |f|
        = f.hidden_field :email, value: 'test@gmail.com'
        = f.hidden_field :password, value: '12345678'
        = f.submit 'テストログイン', class: 'btn'
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = f.label :メールアドレス
          .field-input
            = f.email_field :email, autofocus: true
          .field
            .field-label
              = f.label :パスワード
              %i (英数字8文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "ログイン", class: 'btn'
            = render "devise/shared/links"
