.contents
  .blank
  .food-show
    .food-data
      %table{border: "1", width: "100%", style: "border-collapse: collapse"}
        %tbody
          %tr
            %th 食べ物名
            %td  
              = "#{@food.name}"
          %tr
            %th.food_calorie
              カロリー(kcal)
            %td
              = "#{@food.calorie}"
          %tr
            %th.food_carbohydrate
              糖質(g) 
            %td
              = "#{@food.carbohydrate}"
          %tr
            %th.food_protein
              タンパク質(g)
            %td
              = "#{@food.protein}"
          %tr
            %th.food_fat
              脂質(g)
            %td
              = "#{@food.fat}"
    %ul.more_list
      %li
        = link_to '編集', edit_food_path(@food.id)
      %li
        = link_to '削除', "/foods/#{@food.id}", method: :delete
      %li
        = link_to '戻る', root_path
  .blank