.contents
  .blank
  .food-show
    .food-data
      .food_name
        = "食べ物名　　： #{@food.name}"
      .food_calorie
        = "カロリー　　： #{@food.calorie}"
      .food_carbohydrate
        = "糖質　　　　： #{@food.carbohydrate}"
      .food_protein
        = "タンパク質　： #{@food.protein}"
      .food_fat
        = "脂質　　　　： #{@food.fat}"
    %ul.more_list
      %li
        = link_to '編集', edit_food_path(@food.id)
      %li
        = link_to '削除', "/foods/#{@food.id}", method: :delete
  .blank