= form_for @management do |f|
  - if @management.errors.any?
    #error_explanation
      %h2= "#{pluralize(@management.errors.count, "error")} prohibited this management from being saved:"
      %ul
        - @management.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit '登録'