= form_for @management do |f|
  - if @management.errors.any?
    #error_explanation
      %h2= "#{pluralize(@management.errors.count, "error")} prohibited this management from being saved:"
      %ul
        - @management.errors.full_messages.each do |message|
          %li= message

  .form
    .form-title
      = f.label :表題
      = f.text_field :title
    .form-day
      = f.label :日付
      = f.date_field :day
    .form-food
      %label.form-food__label{for: "食べ物を追加"} 食べ物を検索
      %input#food-search-field.form-food__input{placeholder: "食べ物の検索", type: "text"}/
      #food-search-result

    .form-food__field
      %label.cform-food__label{for: "食べ物"} 選択した食べ物
      #foods.js-add-food
        .form-food.js-choice-member
          %input{name: "management[food_ids][]", type: "hidden"}
    %br
    .actions
      = f.submit '登録', class: 'btn'
