= form_for @management do |f|
  - if @management.errors.any?
    #error_explanation
      %h2= "#{pluralize(@management.errors.count, "error")} prohibited this management from being saved:"
      %ul
        - @management.errors.full_messages.each do |message|
          %li= message

  .field
    .field__title
      = f.label :表題
      = f.text_field :title
    .field__day
      = f.label :日付
      = f.date_field :day
    .field__food
      = f.label :食べ物
      = form_tag('/foods/search',method: :get) do
        = text_field_tag :foods , "", class: 'input-box__text', placeholder:"食べ物を検索"
        = submit_tag 'search', class: 'input-search', name: nil 

  .actions
    = f.submit '登録', class: 'btn'