.form-wrapper
  = form_for @management do |f|
    - if @management.errors.any?
      #error_explanation
        %h2= "#{pluralize(@management.errors.count, "error")} prohibited this management from being saved:"
        %ul
          - @management.errors.full_messages.each do |message|
            %li= message
    .form
      = f.label :title, "表題", class: "form__label"
      = f.text_field :title, class: "form__input"
    .form
      = f.label :day, "日付", class: "form__label"
      = f.date_field :day, class: "form__input"
    .form
      %label.form__label{for: "食べ物を検索"} 食べ物を検索
      %input#food-search-field.form__input{placeholder: "食べ物の検索", type: "text"}/

    .form-food__field
      %label.form__label{for: "検索結果"} 検索結果（追加ボタンを押してください）
      #foods.js-add-food
        .form-food.js-choice-food
          %input{name: "management[food_ids][]", type: "hidden"}
          #food-search-result
    %br
    .actions
      = f.submit '登録', class: 'btn'
    = link_to '戻る', managements_path, class: 'btn'
