.main_contents
  .management__main-contents
    .management__main-contents__list
      %h1 管理表
      = link_to '新規登録', new_management_path, class: "new_register"
      %br
      %table{ border: "1"}
        %thead
          %tr
            %th 表題
            %th 日付
            %th 食べたもの
            %th カロリー
            %th 糖質
            %th タンパク質
            %th 脂質
            %th{colspan: "3"}

        %tbody
          - @managements.each do |management|
            %tr
              %td= management.title
              %td= management.day
              - management.foods.each do |food|
                %td= food.name
                %td= food.calorie
                %td= food.carbohydrate
                %td= food.protein
                %td= food.fat
                %td= food.salt_equivalent
                %td= food.dietary_fiber
                %td= link_to '詳細', management, class: 'btn'
                %td= link_to '編集', edit_management_path(management), class: 'btn'
                %td= link_to '削除', management, method: :delete, data: { confirm: '削除しますか?' }, class: 'btn'
 
